---
import MainLayout from "../layouts/MainLayout.astro";
import SvgFilters from "../components/SvgFilters.astro";
import MainBanner from "../components/MainBanner.astro";
import AuthorBanner from "../components/AuthorBanner.astro";
---

<MainLayout title="CSS Experiments">
    <div class="container | bg-primary-dark">
        <MainBanner />
    </div>
    <div class="container | bg-secondary-light">
        <AuthorBanner />
    </div>
    <SvgFilters />
</MainLayout>

<style>
    @layer blocks {
        img {
            width: 50%;
        }
        .personal-section {
            width: min(var(--size-xxl), 100vw);
        }
    }
</style>
