<footer class="bg-primary-light fw-light text-xs padding-md">
    <div class="flex-row">
        <p class="footer-info">
            Everything in this website is written by a human, no AI involved.
            Build is made with Astro, everything else is pure, vanilla
            Typescript and CSS.
        </p>
        <p class="text-alt push-end">Made with &#129505; by jsanchesleao</p>
    </div>
</footer>
<style>
    @layer blocks {
        .footer-info {
            max-width: calc(2 * var(--size-xl));
        }
    }
</style>
