<footer class="bg-primary-light fw-light text-xs padding-md">
    <div class="flex-row">
        <p class="footer-info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
            tenetur laboriosam modi eius unde quaerat iusto repellendus? Soluta
            sint voluptatibus eaque consequuntur dolore ut, laborum harum neque
            quas, aliquam expedita.
        </p>
        <p class="text-alt push-end">Made with &#129505; by jsanchesleao</p>
    </div>
</footer>
<style>
    @layer blocks {
        .footer-info {
            max-width: calc(2 * var(--size-xl));
        }
    }
</style>
