---
import logo from "../assets/logo.svg";
const base = import.meta.env.BASE_URL;
---

<header class="bg-primary-darker padding-inline-sm">
    <ul class="flex-row">
        <li class="logo-wrapper">
            <a href={base}><img src={logo.src} alt="logo" /></a>
            <p> CSS Experiments </p>
        </li>
        <li class="push-end">
            <a class="" href={base}>Home</a>
        </li>
        <li>
            <a href={`${base}/articles`}>Articles</a>
        </li>
    </ul>
</header>

<style>
    @layer blocks {
        header {
            isolation: isolate;
            box-shadow: 0 0 5px 5px var(--clr-primary-darker);
        }

        img {
            width: var(--size-xs);
            aspect-ratio: 1 / 1;
            filter: brightness(5);
            &:hover {
                filter: brightness(8);
            }

            /* update the logo svg so I can remove this magic numbering */
            position: relative;
            top: 5px;
            @media(width > 548px) {
              top: 8px;
            }
        }

        a {
            color: var(--clr-neutral-light);
            &:hover {
                color: var(--clr-primary-light);
            }
        }

        .logo-wrapper p {
          display: none;
        }

        @media(width > 548px) {
          .logo-wrapper p {
            display: block;
          }
          .logo-wrapper {
            display: flex;
            align-items: center;
            font-size: var(--font-size-xl);
          }
        }
    }
</style>
