---
import AnchorButton from "./AnchorButton.astro";

import flaskSvg from "../assets/flask.svg";
import { Content, frontmatter} from "../content/main_banner.md";

const base = import.meta.env.BASE_URL;
---

<section class="padding-inline-sm">
    <img src={flaskSvg.src} alt="" />
    <h1> {frontmatter.title} </h1>
    <div class="content-wrapper | text-lg">
      <Content />
    </div>
    <div class="cta">
      <AnchorButton href={`${base}/articles`}>{frontmatter.cta}</AnchorButton>
    </div>
</section>

<style>
    @layer blocks {
        section {
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;
            gap: var(--space-sm);
            padding-block: var(--space-sm);
        }

        .cta {
            margin-block: var(--space-sm);
        }

        img {
            width: 50%;
        }

        @media (width > 730px) {
            section {
                grid-template-columns: 1fr 2fr;
            }

            .content-wrapper {
                grid-column: span 2;
            }

            .cta {
                grid-column: span 2;
                place-self: center;
            }
        }

        @media (width > 1100px) {
            section {
                grid-template-columns: 1fr 2fr;
                padding-block-end: var(--space-xl);
            }

            img {
                width: 75%;
                aspect-ratio: 1 / 1;
                grid-row: span 3;
            }

            h1 {
                place-self: center end;
            }

            .content-wrapper {
                grid-column: span 1;
                text-align: end;
            }

            .cta {
                grid-column: span 1;
                place-self: center end;
            }
        }
    }
</style>
