---
const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../assets/main.css";
import HeadStuff from "../components/HeadStuff.astro";
---

<html lang="en">
    <head>
        <style is:inline>
            @layer base, composition, blocks, utilities;
        </style>
        <title>{title}</title>
        <HeadStuff />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    @layer blocks {
        body {
            min-height: 100vh;
            display: grid;
            grid-template-rows: auto 1fr auto;
        }
    }
</style>
